/*---------------------
  About
-----------------------*/
.about {
  background: #100028;
  padding-bottom: 150px;

  &-inner {
    @include flex(space-between, flex-start);
  }
}

// .about__pic__item {
//   height: 235px;
//   margin-right: -10px;
//   margin-bottom: 20px;

//   &.about__pic__item--large {
//     height: 490px;
//   }
// }

.about__pic {
  width: 48%;
  
  &--ttl {
    margin-bottom: 20px;
  }

  .progress {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    background-color: #1e2530;
    border-radius: 2px;
    height: auto;
    min-height: 45px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .progress > div {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .clear:before, .clear:after {
    content: " ";
    display: table;
  }

  .progress .skill-name {
    border-right: 2px solid #2e333a;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
  }

  .progress .skill-bar {
    background-color: #07080b;
    border-radius: 15px;
    margin: 0 15px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .progress .bar {
    background-color: #02B7CE;
    border-radius: 10px;
    height: 8px;
  }

  .progress .skill-lavel {
    border-left: 2px solid #2e333a;
    min-width: 70px;
    text-align: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 30px;
  }

  .clear:after {
    clear: both;
  }

  img {
    width: 100%;
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}

.about__text {
  width: 48%;
  padding-left: 30px;

  @media (max-width: 992px) {
    width: 100%;
  }

  .services__item {

    .services__item__icon {

      &:after {
        border-color: #281A3E;
      }
    }
  }
}

.about__part {
  @include flex(space-between, flex-start);

  .part {
    width: 48%;
  }
}

.about__text__desc {
  margin-top: -10px;
}

/*---------------------
  Testimonial
-----------------------*/
.testimonial {
  padding-bottom: 60px;
}

.testimonial__slider {

  &.owl-carousel {

    .owl-item {

      .col-lg-4 {
        max-width: 100%;
      }
    }

    .owl-dots {
      text-align: center;
      padding-top: 35px;

      button {
        height: 8px;
        width: 8px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin-right: 10px;

        &.active {
          background: $primary-color;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.testimonial__text {
  padding: 30px 40px 25px 30px;
  border: 1px solid #3D3A64;
  margin-bottom: 25px;
  position: relative;
  z-index: 9;

  P {
    color: $white-color;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.testimonial__author {
  padding-left: 30px;
}

.testimonial__author__pic {
  float: left;
  margin-right: 20px;
  
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.testimonial__author__text {
  overflow: hidden;

  h5 {
    color: $white-color;
    font-weight: 700;
    margin-bottom: 8px;
  }

  span {
    color: $white-color;
    font-size: 14px;
    font-weight: 300px;
    display: inline-block;
  }
}